<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://assetsio.reedpopcdn.com/Spider-Banner_AVVWjOb.jpg?width=1200&height=630&fit=crop&enable=upscale&auto=webp"
            alt="" height="200px" >
    </div>
    <div class="big-card__title">
      <h1> <a href="#">Saiu a nova versão do angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis consequuntur voluptatum velit sapiente, eius nihil deleniti quasi pariatur necessitatibus expedita labore corporis nobis consequatur dolorem ab, repudiandae aut mollitia magni!     
            </a>
        </p>
    </div>
</div>