@media screen and (max-width: 1150px) {
  .container__big-card {
    justify-content: center;
    align-items: normal;
    width: 700px;
    height: 400px;
  }
}

@media screen and (max-width: 790px) {
  .container__big-card {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .big-card__title > h1 {
    font-size: 17px;
  }

  .big-card__description > p > a {
    font-size: 13px;
  }
}

@media screen and (max-width: 425px) {
  .container__big-card {
    width: 280px;
  }

  .big-card__title > h1 {
    font-size: 13px;
  }

  .big-card__description > p > a {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .container__big-card {
    width: 250px;
  }
}
