@media screen and (max-width: 790px) {
  .container__small-card {
    width: 80%;
    margin: auto;
  }

  .small-card__photo > img {
    height: 100px;
  }

  .small-card__title {
    font-size: 7px;
  }
}

@media screen and (max-width: 425px) {
  .small-card__photo > img {
    width: 100px;
  }

  .small-card__title {
    font-size: 5px;
  }
}
