<div class="container__content">

    <div class="content__cover">
        <img src="{{photoCover}}" alt="">
    </div>

    <div class="content__title">
        <h1>{{contentTitle}}</h1>
        <hr>
    </div>

    <div class="content__description">
        <p>{{contentDescription}}</p>

        <h3>veja funcionando: <a href="{{link01}}" target="_blank">ㅤclique aqui</a></h3>
        <h3>link do repositório: <a href="{{link02}}" target="_blank">ㅤclique aqui</a></h3>

        <a class="voltar" [routerLink]="['']">VOLTAR</a>
    </div>
</div>