<app-menu-title></app-menu-title>
<div class="container__articles">

    <div class="articles__main">
        <app-big-card Id="1" photoCover="../assets/projeto-listagem-pokemon.png" CardTitle="projeto-listagem-pokemon"
            CardDescription="listagem de cartões pokemon: HTML | CSS | JS">
        </app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card Id="2" PhotoCover="../assets/projeto-android.png" cardTitle="projeto-android"></app-small-card>
        <app-small-card Id="3" PhotoCover="../assets/projeto-cordel.png" cardTitle="projeto-cordel"></app-small-card>
        <app-small-card Id="4" PhotoCover="../assets/em-breve.png" cardTitle="em breve..."></app-small-card>
    </div>
</div>